data/raw/*.html filter=lfs diff=lfs merge=lfs -text
data/indices/*.pkl filter=lfs diff=lfs merge=lfs -text
data/indices/*.index filter=lfs diff=lfs merge=lfs -text
data/processed/*.csv filter=lfs diff=lfs merge=lfs -text
